@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-indicator:before {
  content: "";
  background: #00000080;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  content: "";
  position: fixed;
  top: 43%;
  left: 47%;
  z-index: 10010;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: url("/public/BeeLoader.gif") no-repeat center center;
  background-size: contain;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.table th:first-child {
  position: unset !important;
}

.stat {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.text-green {
  color: rgb(34 197 94);
}

.text-blue {
  color: rgb(59 130 246);
}

.text-gray {
  color: rgb(75 85 99);
}

.bg-green {
  background-color: rgb(34 197 94);
}

.bg-blue {
  background-color: rgb(59 130 246) !important;
}

.bg-gray {
  background-color: rgb(75 85 99);
}

/* Example styling for the table */
.asset-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
}

.asset-table th,
.asset-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.asset-table th {
  background-color: #f2f2f2;
}

/* App.css */

/* Smooth scrolling */
html {
  scroll-behavior: auto;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #f3f3f3, #f1f1f1);
  border-radius: 10px;
  margin: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(60, 60, 60, 0.7);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.3s, border-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(60, 60, 60, 0.9);
  border-color: rgba(255, 255, 255, 0.4);
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(60, 60, 60, 0.7)
    linear-gradient(45deg, #f3f3f3, #f1f1f1);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #f3f3f3, #f1f1f1);
  border-radius: 10px;
  margin: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(60, 60, 60, 0.7);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.3s;
}
